name: Deploy to EC2

on:
    push:
        branches: ["master"]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            # SSH into EC2 & deploy the container
            - name: Deploy to EC2
              uses: appleboy/ssh-action@v0.1.7
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.EC2_SSH_KEY }}
                  script: |
                      IMAGE="${{ secrets.DOCKER_USERNAME }}/podlove_backend:latest"

                      echo "Pulling latest image..."
                      sudo docker pull $IMAGE

                      echo "Stopping old container..."
                      sudo docker stop podlove_backend || true
                      sudo docker rm podlove_backend || true

                      echo "Starting new container..."
                      sudo docker run -d \
                        --name podlove_backend \
                        -p 7000:7000 \
                        --restart always \
                        $IMAGE

                      echo "Deployment completed successfully!"
